.address__info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 114px;
  padding: 0 $gl--padding-side--mobile;
  background-color: $sg--white;

  &--dark-theme {
    background-color: $sg--basic_grey;
  }
}

.address__info-location {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;

  @include set-font("Arial", 14px, 20px);
  font-weight: 400;
  color: $sg--special_dark_grey;

  p {
    margin: 0;
  }
}

.address__info-message {
  width: 50%;
  margin: 0;

  @include set-font("Oswald", 16px, 18px, uppercase);
  font-weight: 400;
  color: $sg--gray_na2;
}

.address__map {
  position: relative;
  background-image: url("../../img/picture/location_mobile.png");
  background-size: 320px 362px;
  background-position: center center;
  background-repeat: no-repeat;
  content: "";
  width: $gl--breakpoint--mobile;
  height: 362px;

  &::before {
    position: absolute;
    background-image: url("../../img/svg/map_pin.svg");
    background-size: 57px 53px;
    background-position: center center;
    background-repeat: no-repeat;
    content: "";
    width: 100%;
    height: 100%;
  }
}

.address__pointer {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
}
