.address {
  position: relative;
}

.address__info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 114px;
  box-sizing: border-box;
  padding: 4px $gl--padding-side--mobile 0;
  background-color: $sg--white;

  @media screen and (min-width: $gl--breakpoint--tablet) {
    padding: 62px 72px 57px;
    min-height: 199px;
  }

  @media screen and (min-width: $gl--breakpoint--desctop) {
    position: absolute;
    z-index: 1;
    top: 95px;
    left: 110px;
    width: calc(100% * 570 / 1440);
    min-height: 201px;
    padding: 60px 76px 54px;
    justify-content: flex-start;
  }

  &--dark-theme {
    background-color: $sg--basic_grey;

    @media screen and (min-width: $gl--breakpoint--desctop) {
      background-color: $sg--white;
    }
  }
}

.address__info-location {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;

  @include set-font("Arial", 14px, 20px);
  font-weight: 400;
  color: $sg--special_dark_grey;

  p {
    margin: 0;
  }

  @media screen and (min-width: $gl--breakpoint--tablet) {
    @include set-font("Arial", 16px, 20px);
    width: 50%;
    text-align: right;
    min-height: 80px;
  }

  @media screen and (min-width: $gl--breakpoint--desctop) {
    text-align: left;
    padding-left: 82px;
  }
}

.address__info-message {
  width: 50%;
  margin: 0;

  @include set-font("Oswald", 16px, 19px, uppercase);
  font-weight: 400;
  color: $sg--gray_na2;

  @media screen and (min-width: $gl--breakpoint--tablet) {
    @include set-font("Oswald", 20px, (21px + 4px), uppercase);
  }

  @media screen and (min-width: $gl--breakpoint--desctop) {
    padding-left: 0;
  }
}

.address__map {
  //width: $gl--breakpoint--mobile;
  height: 362px;

  @media screen and (min-width: $gl--breakpoint--tablet) {
    //width: $gl--breakpoint--tablet;
    height: 400px;
  }

  @media screen and (min-width: $gl--breakpoint--desctop) {
    //width: $gl--breakpoint--desctop;
    height: 400px;
  }
}
