// *** LAYOUT ONLY !!!

.address {
  /* empty */

  .address__info {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    min-height: 114px;
    box-sizing: border-box;
    padding: 0;
    width: $gl--width--mobile;

    @media screen and (min-width: $gl--breakpoint--desctop) {
      /* empty */
    }
  }

  .address__location {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .address__map {
    position: relative;
  }

  .address__pointer {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
  }

  .address__map-size-s {
    display: block;
    //margin: 0 auto;
    margin-left: $gl--padding-side--mobile * (-1);

    @media screen and (min-width: $gl--breakpoint--tablet) {
      display: none;
    }
  }

  .address__map-size-m {
    //margin: 0 auto;
    display: none;
    margin-left: $gl--padding-side--tablet * (-1);

    @media screen and (min-width: $gl--breakpoint--tablet) {
      display: block;
    }

    @media screen and (min-width: $gl--breakpoint--desctop) {
      display: none;
    }
  }

  .address__map-size-l {
    //margin: 0 auto;
    display: none;
    margin-left: $gl--padding-side--desctop * (-1);

    @media screen and (min-width: $gl--breakpoint--desctop) {
      display: block;
    }
  }
}
