$md--padding-before-hr: 25px;

.form-element-list {
  box-sizing: border-box;
  padding: 0 $gl--padding-side--mobile;
}

.form-element-list__list {
  margin: 0;
  padding: 0;
}

.form-element-list__item {
  min-height: 50px; // - переопределяемая величина!

  &:not(:last-child) {
    margin-bottom: 13px;
  }
}

.form-element-list__hr {
  border: none;
  height: 2px;
  background-color: $sg--basic_green;
  color: $sg--basic_green;

  margin: calc(27px + 18px) 0 -18px;
  margin-right: (-1) * $gl--padding-side--mobile;

  @media screen and (min-width: $gl--breakpoint--tablet) {
    margin-left: (-1) * ($gl--padding-side--tablet + 40px);
    margin-right: (-1) * ($gl--padding-side--tablet + 40px);
  }

  @media screen and (min-width: $gl--breakpoint--desctop) {
    margin-left: (-1) * ($gl--padding-side--desctop);
    margin-right: (-1) * ($gl--padding-side--desctop);
  }
}

.form-element-list__title {
  margin: 0 0 32px;

  @include set-font("Oswald", 24px, 26px);
  font-weight: 400;
  color: $sg--black;

  @media screen and (min-width: $gl--breakpoint--tablet) {
    margin: 0 0 76px;
  }

  @media screen and (min-width: $gl--breakpoint--desctop) {
    // empty
  }

  &--hr {
    display: inline-block;
    background-color: $sg--white;
    padding-right: $gl--padding-side--mobile;

    @media screen and (min-width: $gl--breakpoint--tablet) {
      padding-right: 40px;
      margin-left: -40px;
      padding-left: 40px;

      @include set-font("Oswald", 36px, 36px);
    }

    @media screen and (min-width: $gl--breakpoint--desctop) {
      // empty
    }
  }
}
