// *** LAYOUT ONLY

.how-it-works {

  // --- variable ---
  $item--height: 280px;

  $item--interval-h--tablet: 60px;
  $item--interval-h--desctop: 74px;

  $icon--width--tablet: 60px;
  $icon--width--desctop: 80px;

  $number--left: 33px;
  // --- variable ---

  margin: 0;
  padding: 0;

  @media screen and (min-width: $gl--breakpoint--tablet) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }


  .how-it-works__item {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    @media screen and (min-width: $gl--breakpoint--tablet) {
      display: block;
      width: calc((100% - #{$item--interval-h--tablet}) / 2);
      min-height: $item--height;
    }

    @media screen and (min-width: $gl--breakpoint--desctop) {
      display: block;
      width: calc((100% - #{$item--interval-h--tablet} * 3) / 4);
    }
  }

  .how-it-works__icons {
    /* empty */
  }

  .how-it-works__icon-size-s {
    display: block;

    @media screen and (min-width: $gl--breakpoint--tablet) {
      display: none;
    }
  }

  .how-it-works__icon-size-m-l {
    display: none;

    @media screen and (min-width: $gl--breakpoint--tablet) {
      display: block;
    }
  }

  .how-it-works__number {
    display: none;

    @media screen and (min-width: $gl--breakpoint--tablet) {
      position: absolute;
      z-index: -1;
      text-align: center;
      top: 0;
      bottom: 0;
      left: $icon--width--tablet + $number--left;
      display: block;
      width: 134px;
    }

    @media screen and (min-width: $gl--breakpoint--desctop) {
      left: $icon--width--desctop + $number--left;
    }
  }
}
