// *** LAYOUT ONLY

.how-it-works {
  $item--height: 280px;
  $number--left: 33px;

  padding: 0 $gl--padding-side--mobile;
  margin: 0;
}

.how-it-works__item {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.how-it-works__icon {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  box-sizing: border-box;
  background-color: $sg--basic_green;

  &--leaf,
  &--tub,
  &--eat,
  &--alarm {
    background-repeat: no-repeat;
    background-position: center center;
  }

  &--leaf {
    background-image: url("../../img/svg/icon_leaf.svg");
    background-size: 30px 32px;
  }

  &--tub {
    background-image: url("../../img/svg/icon_tub.svg");
    background-size: 30px 32px;
  }

  &--eat {
    background-image: url("../../img/svg/icon_eat.svg");
    background-size: 30px 32px;
  }

  &--alarm {
    background-image: url("../../img/svg/icon_alarm.svg");
    background-size: 30px 32px;
  }
}

.how-it-works__text {
  margin: 0;
  width: calc(100% - 60px - 20px);

  @include set-font("Arial", 14px, 18px);
  font-weight: 400;
  color: $sg--special_dark_grey;
}

.how-it-works__number {
  position: absolute;
  z-index: -1;

  display: none;

  color: $sg--basic_grey;
  font-size: 280px;
  line-height: 1;
}
