// *** COLOR - DECOR - FONT

.main-nav-list {
  &__item {

    border-top: 1px solid $line-border-light;
    list-style: none;
    text-transform: uppercase;

    @media screen and (min-width: $breakpoint-tablet) {
      border-top: none;
    }

    @media screen and (min-width: $breakpoint-desctop) {
      background-color: lightgreen;/* - временно, до установки картинки на фон в баннере*/
    }

    &--active .main-nav-list__link{
      display: inline-block;
      border-bottom: 1px solid;;
    }
  }

  &__link {

    color: $color-text;
    text-decoration: none;

    @media screen and (min-width: $breakpoint-desctop) {
      color: $color-text--theme-dark;
    }
  }

}
