// *** LAYOUT ONLY

.main-nav-list {
  margin: 0;
  padding: 0;

  .main-nav-list__item {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 66px;
    width: 100%;
  }
}
