// *** COLOR - DECOR - FONT

.main-nav-list {
  /* empty */

  .main-nav-list__item {

    border-top: 1px solid $line-border-light;
    list-style: none;
    text-transform: uppercase;

    @media screen and (min-width: $gl--breakpoint--tablet) {
      border-top: none;
    }

    @media screen and (min-width: $gl--breakpoint--desctop) {
      background-color: lightgreen;/* - временно, до установки картинки на фон в баннере*/
    }

    &--active .main-nav-list__link {
      border-bottom: 1px solid;
    }
  }

  .main-nav-list__link {
    text-decoration: none;
    display: inline-block;

    @include set-font("Oswald", 20px, 20px, uppercase);
    font-weight: 500;
    color: $gl--black;

    @media screen and (min-width: $gl--breakpoint--desctop) {
      color: $gl--white;
    }
  }
}
