.main-nav-list {
  margin: 0;
  padding: 0;
}

.main-nav-list__item {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  height: 66px;
  width: 100%;

  border-bottom: 1px solid $line-border-light;
  list-style: none;
  text-transform: uppercase;
}

.main-nav-list__link {
  text-decoration: none;
  display: inline-block;

  @include set-font("Oswald", 20px, 20px, uppercase);
  font-weight: 500;
  color: $sg--black;
}
