// *** COLOR - DECOR - FONT

.precedent {
  /* empty */

  .precedent__wrapper {
    list-style: none;
  }

  .precedent__item {
    border: 1px solid $sg--special_grey;
    border-radius: 3px;
    text-align: center;

    &--special {
      border: none;
    }
  }

  .precedent__value {
    /* empty */
  }
}
