
.precedent__wrapper {
  display: flex;
  justify-content: space-between;

  margin: 0 0 35px;
  padding: 0;
  width: 100%;

  @media screen and (min-width: $gl--breakpoint--tablet) {
    width: calc(100% * 366 / 708);
    margin: 0;
  }

  @media screen and (min-width: $gl--breakpoint--desctop) {
    width: calc(100% * 366 / 570);
    margin: 0 0 55px;//60
  }
}

.precedent__label {
  @include set-font("Oswald", 14px, 20px, uppercase);
  font-weight: 400;
  color: $sg--black;

  @media screen and (min-width: $gl--breakpoint--tablet) {
    @include set-font("Oswald", 20px, 20px, uppercase);
  }

  @media screen and (min-width: $gl--breakpoint--desctop) {
    // empty
  }
}

.precedent__value {
  @include set-font("Oswald", 14px, 20px, uppercase);
  font-weight: 400;
  color: $sg--black;

  @media screen and (min-width: $gl--breakpoint--tablet) {
    @include set-font("Oswald", 20px, 36px, uppercase);
  }

  @media screen and (min-width: $gl--breakpoint--desctop) {
    //empty
  }
}

.precedent__item {
  text-align: center;
  width: 100%;
  border: none;

  @media screen and (min-width: $gl--breakpoint--tablet) {
    text-align: right;
  }

  @media screen and (min-width: $gl--breakpoint--desctop) {
    text-align: left;
  }


  &--special {
    width: calc((100% - 31px) / 2);
    box-sizing: border-box;
    height: 56px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    border: 1px solid $sg--special_grey;
    border-radius: 3px;

    @include set-font("Oswald", 24px, 24px, uppercase);
    font-weight: 400;
    color: $sg--black;

    @media screen and (min-width: $gl--breakpoint--tablet) {
      width: calc((100% - 42px) / 2);
      height: 72px;
    }

    @media screen and (min-width: $gl--breakpoint--desctop) {
      // empty
    }

    & .precedent__label {
      position: absolute;
      display: inline-block;
      text-align: center;
      margin: 0;
      top: 47px;
      background-color: $sg--gray_na3;
      width: auto;
      box-sizing: border-box;
      max-width: calc(100% * 85 / 124);
      padding: 0 8px;

      @include set-font("Arial", 12px, 12px);
      font-weight: 400;
      color: $sg--special_dark_grey;
      text-transform: none;

      @media screen and (min-width: $gl--breakpoint--tablet) {
        @include set-font("Arial", 14px, 14px);
        background-color: $sg--white;
        top: 63px;
        max-width: 100%;
      }

      @media screen and (min-width: $gl--breakpoint--desctop) {
        background-color: $sg--gray_na3;
      }
    }

    & .precedent__value {
      @include set-font("Oswald", 24px, 24px, uppercase);
      padding: 15px 0 11px;

      @media screen and (min-width: $gl--breakpoint--tablet) {
        @include set-font("Oswald", 30px, 37px, uppercase);
        padding: 15px 0 11px;
      }

      @media screen and (min-width: $gl--breakpoint--desctop) {
        // empty
      }
    }
  }

  &--cost {
    //empty

    @media screen and (min-width: $gl--breakpoint--tablet) {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;
      margin-top: 12px;
      width: calc(100% - 100% * 366 / 708);//100% - 366px
    }

    @media screen and (min-width: $gl--breakpoint--desctop) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: calc(100% * 366 / 570);//366px;
      box-sizing: border-box;
      height: 27px;

      & .precedent__label {
        display: inline-block;
        width: calc(100% - (100% - 42px) / 2);//100% - 166px
        text-align: left;
      }

      & .precedent__value {
        @include set-font("Oswald", 20px, 20px);
        display: inline-block;
        width: calc((100% - 42px) / 2);//166px
        text-align: center;
        padding-right: 4px;
      }
    }
  }
}
