// *** COLOR - DECOR - FONT

.programs-list {
  /* empty */

  .programs-list__item {
    background-color: $sg--basic_grey;
  }

  .programs-list__target {
    @include set-font("Oswald", 24px, 37px, uppercase);
    font-weight: 400;
    color: $sg--special_dark_grey;
  }

  .programs-list__description {
    @include set-font("Arial", 14px, 18px);
    font-weight: 400;
    color: $sg--special_dark_grey;
  }

  .programs-list__footer {
    border-top: 1px solid $gl--gray_na1;
  }

  .programs-list__catalog-section-name {
    @include set-font("Oswald", 16px, 16px, uppercase);
    font-weight: 400;
    color: $gl--black;
  }
}
