// *** LAYOUT ONLY

.programs-list {
  margin: 0;
  padding: 0;

  .programs-list__item {
    display: flex;
  }

  .programs-list__header,
  .programs-list__footer {
    display: flex;
  }

  .programs-list__image-medium,
  .programs-list__image-size-m {
    display: none;

    @media screen and (min-width: $gl--breakpoint--tablet) {
      display: block;
    }

    @media screen and (min-width: $gl--breakpoint--desctop) {
      display: none;
    }
  }

  .programs-list__image-size-s {
    display: block;

    @media screen and (min-width: $gl--breakpoint--tablet) {
      display: none;
    }

    @media screen and (min-width: $gl--breakpoint--desctop) {
      display: none;
    }
  }

  .programs-list__image-size-l {
    display: none;

    @media screen and (min-width: $gl--breakpoint--tablet) {
      display: none;
    }

    @media screen and (min-width: $gl--breakpoint--desctop) {
      display: block;
    }
  }
}
