$stylized-input-radio--height-mobile: 30px;
$stylized-input-radio--height-tablet: 40px;
$stylized-input-radio--inner-interval-mobile: 16px;
$stylized-input-radio--inner-interval-tablet: 21px;
$stylized-input-radio--border-width: 1px;

.stylized-input-radio {
  display: flex;
  align-items: center;
  height: $stylized-input-radio--height-mobile;

  @media screen and (min-width: $gl--breakpoint--tablet) {
    height: $stylized-input-radio--height-tablet;
  }

  @media screen and (min-width: $gl--breakpoint--desctop) {
    // empty
  }
}

.stylized-input-radio__label {
  margin-left: $stylized-input-radio--height-mobile + $stylized-input-radio--inner-interval-mobile;
  padding: 0;

  @include set-font("Oswald", 16px, 18px, uppercase);
  font-weight: 400;
  color: $sg--special_dark_grey_2;

  @media screen and (min-width: $gl--breakpoint--tablet) {
    @include set-font("Oswald", 20px, 24px, uppercase);
    margin-left: $stylized-input-radio--height-tablet + $stylized-input-radio--inner-interval-tablet;
  }

  @media screen and (min-width: $gl--breakpoint--desctop) {
    // empty
  }
}

.stylized-input-radio__input {
  position: relative;
  align-self: start;
  //-webkit-appearance: none;/* Chrome */
  //-moz-appearance: none;/* Firefox */
  appearance: none;
  margin: 0;
  cursor: pointer;

  &:disabled {
    cursor: default;
  }

  &:disabled + .stylized-input-radio__label {
    cursor: default;
    color: $sg--gray_na4;
  }

  // стилизованная граница radio input

  &::before {
    display: block;
    position: absolute;
    z-index: 1;
    content: "";
    width: $stylized-input-radio--height-mobile - 2 * $stylized-input-radio--border-width;
    height: $stylized-input-radio--height-mobile - 2 * $stylized-input-radio--border-width;
    border: $stylized-input-radio--border-width solid $sg--special_grey;
    background-color: $sg--white;
    border-radius: 50%;
    top: 0;
    left: 0;

    @media screen and (min-width: $gl--breakpoint--tablet) {
      width: $stylized-input-radio--height-tablet - 2 * $stylized-input-radio--border-width;
      height: $stylized-input-radio--height-tablet - 2 * $stylized-input-radio--border-width;
    }

    @media screen and (min-width: $gl--breakpoint--desctop) {
      // empty
    }
  }

  &:hover::before {
    border-color: $sg--gray_na4;
  }

  &:checked::before {
    // empty
  }

  &:disabled::before {
    border-color: $sg--gray_na4;
  }

  // стилизованный кружок для отметки выбранного radio input

  &::after {
    display: block;
    position: absolute;
    z-index: 2;
    content: "";
    width: 13.6px;
    height: 13.6px;
    background-color: $sg--basic_green;
    border-radius: 50%;
    opacity: 0;
    top: 8.2px;
    left: 8.2px;

    @media screen and (min-width: $gl--breakpoint--tablet) {
      width: 18px;
      height: 18px;
      top: 11px;
      left: 11px;
    }

    @media screen and (min-width: $gl--breakpoint--desctop) {
      // empty
    }
  }

  &:hover::after {
    // empty
  }

  &:checked::after {
    opacity: 1;
  }

  &:disabled:checked::after {
    opacity: 0.3;
  }
}
