$stylized-input-text--height-mobile: 46px;
$stylized-input-text--height-tablet: 53px;
$stylized-input-text--inner-interval-mobile: 14px;
$stylized-input-text--inner-interval-tablet: 18px;
$stylized-input-text--border-width: 1px;

.stylized-input-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin: 0;
  padding: 0;
  height: $stylized-input-text--height-mobile;

  @media screen and (min-width: $gl--breakpoint--tablet) {
    height: $stylized-input-text--height-tablet;
  }
}

.stylized-input-text__label {
  display: inline-block;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  margin-right: $stylized-input-text--inner-interval-mobile;

  @include set-font("Oswald", 16px, 18px, uppercase);
  font-weight: 400;
  color: $sg--special_dark_grey;

  @media screen and (min-width: $gl--breakpoint--tablet) {
    @include set-font("Oswald", 20px, 24px, uppercase);
    margin-right: $stylized-input-text--inner-interval-tablet;
  }
}

.stylized-input-text__input {
  display: block;
  flex-grow: 50;
  margin: 0;
  min-height: $stylized-input-text--height-mobile - 2 * $stylized-input-text--border-width;
  border: $stylized-input-text--border-width solid $sg--gray_na5;
  box-sizing: border-box;
  padding: 0 16px;

  @include set-font("Oswald", 16px, 18px, uppercase);
  font-weight: 400;
  color: $sg--special_dark_grey;

  @media screen and (min-width: $gl--breakpoint--tablet) {
    @include set-font("Oswald", 20px, 24px, uppercase);
    min-height: $stylized-input-text--height-tablet - 2 * $stylized-input-text--border-width;
  }

  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &:-moz-placeholder,
  &:-ms-input-placeholder {
    @include set-placeholder($sg--special_dark_grey, left, center);
    @include set-font("Oswald", 16px, 18px, uppercase);
    font-weight: 400;

    @media screen and (min-width: $gl--breakpoint--tablet) {
      @include set-font("Oswald", 20px, 24px, uppercase);
    }
  }

  &:hover {
    border-color: $sg--special_grey;
  }

  &:focus {
    border-color: $sg--special_dark_grey;
    outline: $stylized-input-text--border-width solid $sg--special_dark_grey;
  }

  &:invalid {
    border-color: $sg--status-error;
    outline: $stylized-input-text--border-width solid $sg--status-error;
  }
}

.stylized-input-text__icon-wrapper {
  position: relative;
  width: auto;
  display: block;
  flex-grow: 50;
}

.stylized-input-text__input--phone,
.stylized-input-text__input--email {
  padding-right: calc(5px + 20px + 16px);
  width: 100%;
}

.stylized-input-text__input--phone + .stylized-input-text__icon,
.stylized-input-text__input--email + .stylized-input-text__icon {
  display: block;
  position: absolute;
  height: 100%;
}

.stylized-input-text__input--phone + .stylized-input-text__icon {
  width: 20px;
  right: 13px;
  top: 2px;
  color: $sg--special_dark_grey_2;
  fill: currentColor;

  @media screen and (min-width: $gl--breakpoint--desctop) {
    right: 17px;
  }
}

.stylized-input-text__input--phone:invalid + .stylized-input-text__icon {
  color: $sg--status-error;
}

.stylized-input-text__input--phone:focus:valid + .stylized-input-text__icon {
  color: $sg--basic_green;
}

.stylized-input-text__input--email + .stylized-input-text__icon {
  right: 14px;
  width: 19px;
  top: 0;
  color: $sg--special_dark_grey_2;
  stroke: currentColor;

  @media screen and (min-width: $gl--breakpoint--desctop) {
    right: 18px;
  }
}

.stylized-input-text__input--email:invalid + .stylized-input-text__icon {
  color: $sg--status-error;
}

.stylized-input-text__input--email:focus:valid + .stylized-input-text__icon {
  color: $sg--basic_green;
}
