.stylized-textarea {
  //margin: 5px 0 0;
  box-sizing: border-box;
  padding: 10px 14px;
  width: 100%;
  height: 151px;

  border: 1px solid $sg--gray_na5;
  resize: vertical;

  @include set-font("Oswald", 15.5px, 18px, uppercase);
  font-weight: 400;
  color: $sg--special_dark_grey;

  @media screen and (min-width: $gl--breakpoint--tablet) {
    @include set-font("Oswald", 20px, 24px, uppercase);
    height: 174px;
    padding: 13px 18px;
  }

  @media screen and (min-width: $gl--breakpoint--desctop) {
    // empty
  }

  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &:-moz-placeholder,
  &:-ms-input-placeholder {
    @include set-placeholder($sg--special_dark_grey, left, top);
    @include set-font("Oswald", 15.5px, 18px, uppercase);
    font-weight: 400;

    @media screen and (min-width: $gl--breakpoint--tablet) {
      @include set-font("Oswald", 20px, 24px, uppercase);
    }

    @media screen and (min-width: $gl--breakpoint--desctop) {
      // empty
    }
  }

  &:hover {
    border-color: $sg--special_grey;
  }

  &:focus {
    border-color: $sg--special_dark_grey;
    outline: 1px solid $sg--special_dark_grey;
  }
}
