$stylized-input-text--height-mobile: 46px;
$stylized-input-text--height-tablet: 53px;
$stylized-input-text--inner-interval-mobile: 14px;
$stylized-input-text--inner-interval-tablet: 18px;
$stylized-input-text--border-width: 1px;

.stylized-input-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin: 0;
  padding: 0;
  height: $stylized-input-text--height-mobile;

  @media screen and (min-width: $gl--breakpoint--tablet) {
    height: $stylized-input-text--height-tablet;
  }

  @media screen and (min-width: $gl--breakpoint--desctop) {
    // empty
  }

  &--phone,
  &--email {
    position: relative;

    .stylized-input-text__input {
      // Увеличение паддинга для показа значка конверта правого отступа.
      // Интервал между текстом и значком уменьшаем

      padding-right: calc(5px + 20px + 16px);
    }
  }

  &--phone::before,
  &--email::before {
    display: block;
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 1;
    content: "";
    height: 100%;
  }

  &--phone::before {
    background-image: url("../../img/svg/phone.svg");
    background-size: 20px 20px;
    width: 20px;
    right: 13px;
    top: 2;

    @media screen and (min-width: $gl--breakpoint--desctop) {
      right: 17px;
    }
  }

  &--email::before {
    background-image: url("../../img/svg/mail.svg");
    background-size: 20px 15px;
    width: 20px;
    right: 14px;
    top: 0;

    @media screen and (min-width: $gl--breakpoint--desctop) {
      right: 18px;
    }
  }
}

.stylized-input-text__label {
  display: inline-block;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  margin-right: $stylized-input-text--inner-interval-mobile;

  @include set-font("Oswald", 16px, 18px, uppercase);
  font-weight: 400;
  color: $sg--special_dark_grey;

  @media screen and (min-width: $gl--breakpoint--tablet) {
    @include set-font("Oswald", 20px, 24px, uppercase);
    margin-right: $stylized-input-text--inner-interval-tablet;
  }

  @media screen and (min-width: $gl--breakpoint--desctop) {
    // empty
  }
}

.stylized-input-text__input {
  display: block;
  flex-grow: 50;
  margin: 0;
  min-height: $stylized-input-text--height-mobile - 2 * $stylized-input-text--border-width;
  border: $stylized-input-text--border-width solid $sg--gray_na5;
  box-sizing: border-box;
  padding: 0 16px;

  @include set-font("Oswald", 16px, 18px, uppercase);
  font-weight: 400;
  color: $sg--special_dark_grey;

  @media screen and (min-width: $gl--breakpoint--tablet) {
    @include set-font("Oswald", 20px, 24px, uppercase);
    min-height: $stylized-input-text--height-tablet - 2 * $stylized-input-text--border-width;
  }

  @media screen and (min-width: $gl--breakpoint--desctop) {
    // empty
  }

  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &:-moz-placeholder,
  &:-ms-input-placeholder {
    @include set-placeholder($sg--special_dark_grey, left, center);
    @include set-font("Oswald", 16px, 18px, uppercase);
    font-weight: 400;

    @media screen and (min-width: $gl--breakpoint--tablet) {
      @include set-font("Oswald", 20px, 24px, uppercase);
    }

    @media screen and (min-width: $gl--breakpoint--desctop) {
      // empty
    }
  }

  &:hover {
    border-color: $sg--special_grey;
  }

  &:focus {
    border-color: $sg--special_dark_grey;
    outline: $stylized-input-text--border-width solid $sg--special_dark_grey;
  }

  &:invalid {
    border-color: $sg--status-error;
    outline: $stylized-input-text--border-width solid $sg--status-error;
  }
}
