.top-banner__wrapper {
  position: relative;
  background-image: image-set("../../img/picture/background-banner-mobile@2x.webp" 2x, "../../img/picture/background-banner-mobile.webp" 1x, "../../img/picture/background-banner-mobile@2x.jpg" 2x, "../../img/picture/background-banner-mobile.jpg" 1x);
  background-size: 320px 302px;
  background-position: center top;
  background-repeat: no-repeat;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto 22px;
  height: 480px;

  @media screen and (min-width: $gl--breakpoint--tablet) {
    padding: 0 $gl--padding-side--tablet;
    height: 810px;
    background-image: none;
    justify-content: flex-start;
    margin-bottom: 0;
  }

  @media screen and (min-width: $gl--breakpoint--desctop) {
    padding: 0 $gl--padding-side--desctop;
    height: 470px;
    margin-bottom: 82px;
  }

  &::before {
    position: absolute;
    background-color: #505050;
    box-sizing: border-box;
    content: "";
    z-index: -1;
    padding: 0;
    width: 100%;
    height: 302px;

    @media screen and (min-width: $gl--breakpoint--tablet) {
      display: none;
    }

    @media screen and (min-width: $gl--breakpoint--desctop) {
      display: block;
      background-image: image-set("../../img/picture/background-banner-desctop@2x.webp" 2x, "../../img/picture/background-banner-desctop.webp" 1x, "../../img/picture/background-banner-desctop@2x.jpg" 2x, "../../img/picture/background-banner-desctop.jpg" 1x);
      background-position: right center;
      background-repeat: no-repeat;
      overflow: visible;
      background-color: #505050;
      top: calc((53px + 59px + 111px) * (-1));
      right: 0;
      width: 50%;
      height: 694px;
    }
  }

  &::after {
    position: absolute;
    background-color: $sg--basic_green;
    opacity: 0.85;
    content: "";
    width: 100%;
    height: 302px;
    z-index: 0;

    @media screen and (min-width: $gl--breakpoint--tablet) {
      display: none;
    }

    @media screen and (min-width: $gl--breakpoint--desctop) {
      display: block;
      width: 50%;
      height: 694px;
      left: calc(50% - 0px);
      top: calc((53px + 59px + 111px) * (-1));
    }
  }
}

.top-banner__title {
  position: relative;
  margin: 27px 0 25px;
  z-index: 1;

  @include set-font("Oswald", 36px, 36px);
  font-weight: 400;
  text-align: center;
  color: $sg--white;

  @media screen and (min-width: $gl--breakpoint--tablet) {
    @include set-font("Oswald", 60px, 60px);
    text-align: left;
    color: $sg--black;
    margin: 0 0 40px 87px;
    width: 430px;
  }

  @media screen and (min-width: $gl--breakpoint--desctop) {
    margin: 0 0 40px 80px;
  }
}

.top-banner__action {
  @media screen and (min-width: $gl--breakpoint--tablet) {
    z-index: 2;
    padding: 0;
    margin-left: 87px;
  }

  @media screen and (min-width: $gl--breakpoint--desctop) {
    margin-left: 80px;
  }
}

.top-banner__slogan {
  @include set-font("Oswald", 14px, 14px, uppercase);
  position: relative;
  text-align: center;
  color: $sg--white;
  z-index: 1;

  @media screen and (min-width: $gl--breakpoint--tablet) {
    @include set-font("Oswald", 20px, 20px, uppercase);
    text-align: left;
    color: $sg--black;
    margin: 0 0 49px 87px;
  }

  @media screen and (min-width: $gl--breakpoint--desctop) {
    margin: 0 0 52px 80px;
  }
}

.top-banner__active-element {
  position: absolute;
  background-image: url("../../img/picture/active_element_mobile.png");
  background-size: 280px 270px;
  background-position: 20px 166px;
  background-repeat: no-repeat;
  content: "";
  width: $gl--width--mobile;
  height: calc(167px + 270px);
  left: calc(50% - 280px / 2 - 20px);
  z-index: 1;

  @media screen and (min-resolution: 2dppx) {
    background-image: url("../../img/picture/active_element_mobile@2x.png");
  }

  @media screen and (min-width: $gl--breakpoint--tablet) {
    background-image: url("../../img/picture/active_element_tablet.jpg");
    background-size: 708px 609px;
    background-position: center center;
    width: 708px;
    height: 609px;
    top: 200px;
    left: calc(50% - 708px / 2);
  }

  @media screen and (min-width: $gl--breakpoint--tablet) and (min-resolution: 2dppx) {
    background-image: url("../../img/picture/active_element_tablet@2x.jpg");
  }

  @media screen and (min-width: $gl--breakpoint--desctop) {
    background-size: 552px 499px;
    background-image: url("../../img/picture/active_element_desctop.png");
    background-position: center center;
    width: 552px;
    height: 499px;
    top: -82px;
    left: calc(50% - 552px / 2 + 115px);
  }

  @media screen and (min-width: $gl--breakpoint--desctop) and (min-resolution: 2dppx) {
    background-image: url("../../img/picture/active_element_desctop@2x.png");
  }
}
