// *** COLOR - DECOR - FONT

.page-footer {
  background-color: $sg--basic_grey;

  .page-footer__social-wrapper {
    border-top: 1px solid $gl--gray_na1;
    border-bottom: 1px solid $gl--gray_na1;
  }

  .page-footer__social-item {
    list-style: none;
  }

  .page-footer__copyright-item {
    list-style: none;
  }

  .page-footer__copyright-link {
    @include set-font("Arial", 16px, 16px);
    font-weight: 400;
    color: $sg--special_dark_grey;
    text-decoration: none;
  }
}
