// *** LAYOUT ONLY

.page-header {
  /* empty */

  ////////////////////////////////////////////////////////////////////////////
  // wrapper

  .page-header__wrapper {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $gl--breakpoint--tablet) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  ////////////////////////////////////////////////////////////////////////////
  // logo

  .page-header__logo-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 66px;
    margin: 0;
    padding: 0;

    @media screen and (min-width: $gl--breakpoint--tablet) {
      justify-content: flex-start;
    }
  }

  ////////////////////////////////////////////////////////////////////////////
  // main-nav

  .page-header__main-nav-toggle {
    @media screen and (min-width: $gl--breakpoint--tablet) {
      display: none;
    }
  }

  .page-header__main-nav-list {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $gl--breakpoint--tablet) {
      flex-direction: row;
      justify-content: flex-end;
    }
  }
}
