// FONTS

@mixin set-font($arg-name, $arg-size, $arg-line, $arg-transform: "none") {
  font-family: $arg-name, sans-serif;
  font-size: $arg-size;
  line-height: $arg-line;
  text-transform: $arg-transform;
}

@mixin set-placeholder($arg-color, $arg-text-align, $arg-vert-align) {
  color: $arg-color;
  text-align: $arg-text-align;
  vertical-align: $arg-vert-align;
}

@mixin set-grid-tablet() {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;//112px 112px 112px 112px;//132px 132px 132px 132px
  column-gap: 60px;
}

@mixin set-grid-desctop() {
  display: grid;
  grid-template-columns: 245px 245px 245px 245px;
  column-gap: 80px;
}

@mixin set-shadow-normal() {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
}

@mixin set-shadow-hover() {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

@mixin set-shadow-active() {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
}
