// FONTS

@mixin set-font($arg-name, $arg-size, $arg-line, $arg-transform: "none") {
  font-family: $arg-name, sans-serif;
  font-size: $arg-size;
  line-height: $arg-line;
  text-transform: $arg-transform;
}

@mixin set-placeholder($arg-color, $arg-text-align, $arg-vert-align) {
  color: $arg-color;
  text-align: $arg-text-align;
  vertical-align: $arg-vert-align;
}

@mixin set-grid-tablet() {
  display: grid;
  grid-template-columns: 132px 132px 132px 132px;
  column-gap: 60px;
}

@mixin set-grid-desctop() {
  display: grid;
  grid-template-columns: 245px 245px 245px 245px;
  column-gap: 80px;
}
