// BREAKPOINT

$breakpoint-tablet: 768px;
$breakpoint-desctop: 1440px;

// COLORS

$color-text: #000000;
$color-text--theme-light: #000000;
$color-text--theme-dark: #ffffff;

// LINES
$line-border-light: #e6e6e6;
