.page-main-catalog {
  // empty
}

.page-main-catalog__catalog {
  margin: 27px 0 23px;

  @media screen and (min-width: $gl--breakpoint--tablet) {
    margin: 0 0 (65px + $md--padding-before-hr);
  }

  @media screen and (min-width: $gl--breakpoint--desctop) {
    margin: 0 0 (69px + $md--padding-before-hr);
  }

  & .stylized-button {
    @media screen and (min-width: $gl--breakpoint--tablet) {
      height: 39px;
      min-height: 39px;
    }

    @media screen and (min-width: $gl--breakpoint--desctop) {
      height: 40px;
    }
  }

  & .card-product__name {
    @media screen and (min-width: $gl--breakpoint--tablet) {
      margin-bottom: 20px;
    }

    @media screen and (min-width: $gl--breakpoint--desctop) {
      margin-bottom: 24px;
    }
  }

  & .card-product__property-row {
    @media screen and (min-width: $gl--breakpoint--tablet) {
      padding-bottom: 7px;
    }

    @media screen and (min-width: $gl--breakpoint--desctop) {
      padding-bottom: 7px;
    }
  }

  & .card-product__property-row:not(:last-child) {
    @media screen and (min-width: $gl--breakpoint--tablet) {
      margin-bottom: 8px;
    }

    @media screen and (min-width: $gl--breakpoint--desctop) {
      // empty
    }
  }
}

.page-main-catalog__title {
  margin: 0 0 40px;
  box-sizing: border-box;
  padding: 0 $gl--padding-side--mobile;

  @include set-font("Oswald", 36px, 36px);
  font-weight: 400;
  color: $sg--black;

  @media screen and (min-width: $gl--breakpoint--tablet) {
    @include set-font("Oswald", 60px, 60px);
    padding: 0 $gl--padding-side--tablet;
    margin: 0 0 84px;
  }

  @media screen and (min-width: $gl--breakpoint--desctop) {
    padding: 0 $gl--padding-side--desctop;
  }
}

.page-main-catalog__list {
  padding: 0;
  margin: 0;

  @media screen and (min-width: $gl--breakpoint--tablet) {
    @include set-grid-tablet();
    row-gap: 60.2px;
    padding: 0 $gl--padding-side--tablet;
    margin: 0;
  }

  @media screen and (min-width: $gl--breakpoint--desctop) {
    @include set-grid-desctop();
    row-gap: 62px;
    padding: 0 $gl--padding-side--desctop;
  }
}

.page-main-catalog__item {
  list-style: none;
  margin: 0;

  @media screen and (min-width: $gl--breakpoint--tablet) {
    min-height: 428px;
    margin: 81px 0 0;
    background-color: $sg--basic_grey;
    border: none;

    &:nth-child(odd) {
      grid-column: 1 / 3;
    }

    &:nth-child(even) {
      grid-column: 3 / 5;
    }
  }

  @media screen and (min-width: $gl--breakpoint--desctop) {
    min-height: 431px;
    margin: 81px 0 0;

    &:nth-child(odd) {
      grid-column: auto;
    }

    &:nth-child(even) {
      grid-column: auto;
    }
  }

  &:first-child {
    border-top: 1px solid $sg--gray_na6;
  }

  &:not(:first-child) {
    border-top: 0.2px solid transparent;

    @media screen and (min-width: $gl--breakpoint--desctop) {
      border-top: none;
    }
  }

  &--special {
    @media screen and (min-width: $gl--breakpoint--tablet) {
      background-color: $sg--white;
      border: 2px solid $sg--basic_grey;
    }
  }
}


.page-main-catalog__additionally {
  margin: 0 0 35px;

  @media screen and (min-width: $gl--breakpoint--tablet) {
    padding: 0 $gl--padding-side--tablet;
    margin: 0 0 76px;
  }

  @media screen and (min-width: $gl--breakpoint--desctop) {
    padding: 0 $gl--padding-side--desctop;
    margin: 0 0 86px;
  }

  & .form-element-list__hr {
    margin-top: 41px;
    margin-bottom: -17px;


    @media screen and (min-width: $gl--breakpoint--tablet) {
      margin-top: 37px;
      margin-bottom: -25px;
      margin-left: -30px;
      margin-right: -30px;
    }

    @media screen and (min-width: $gl--breakpoint--desctop) {
      margin-top: 44px;
      margin-bottom: -24px;
      margin-left: -110px;
      margin-right: -110px;
    }
  }

  & .form-element-list__title {
    margin: 0 0 35px;

    @include set-font("Oswald", 24px, 24px);
    font-weight: 400;
    color: $sg--black;

    @media screen and (min-width: $gl--breakpoint--tablet) {
      @include set-font("Oswald", 36px, 36px);
      margin: 0 0 80px;
      padding-left: 37px;
      padding-right: 37px;
    }

    @media screen and (min-width: $gl--breakpoint--desctop) {
      margin: 0 0 80px;
      margin-left: -37px;
    }
  }

  & .form-element-list__item {
    box-sizing: border-box;
    padding: 0 0 18px;
    border-bottom: 1px solid $sg--special_grey;

    @media screen and (min-width: $gl--breakpoint--tablet) {
      padding: 26px 38px 28px;
      margin: 0;
    }

    @media screen and (min-width: $gl--breakpoint--desctop) {
      //padding: 16px 0;
      padding: 15px 0 16px;
    }

    &:last-child {
      @media screen and (min-width: $gl--breakpoint--tablet) {
        border-bottom: none;
      }

      @media screen and (min-width: $gl--breakpoint--desctop) {
        border-bottom: 1px solid $sg--special_grey;
      }
    }

    &:not(:last-child) {
      margin-bottom: 12.5px;

      @media screen and (min-width: $gl--breakpoint--tablet) {
        margin-bottom: 0;
      }

      @media screen and (min-width: $gl--breakpoint--desctop) {
        // empty
      }
    }

    &:first-child {
      border-top: 1px solid #cdcdcd;
      padding-top: 14px;

      @media screen and (min-width: $gl--breakpoint--tablet) {
        padding-top: 26px;
        border-top: none;
      }

      @media screen and (min-width: $gl--breakpoint--desctop) {
        padding: 15px 0 16px;
        border-top: 1px solid $sg--special_grey;
      }
    }
  }

  & .additional-goods__order {
    @media screen and (min-width: $gl--breakpoint--tablet) {
      margin-top: 23px;
      height: 39px;
      min-height: 39px;
    }

    @media screen and (min-width: $gl--breakpoint--desctop) {
      margin-top: 0;
      height: 40px;
    }
  }
}
