.page-footer {
  background-color: $sg--basic_grey;
  padding: 0 $gl--padding-side--mobile;

  @media screen and (min-width: $gl--breakpoint--tablet) {
    padding: 0 $gl--padding-side--tablet;
  }

  @media screen and (min-width: $gl--breakpoint--desctop) {
    padding: 0 $gl--padding-side--desctop;
  }
}

.page-footer__wrapper {
  @media screen and (min-width: $gl--breakpoint--tablet) {
    box-sizing: border-box;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 30px;
  }

  @media screen and (min-width: $gl--breakpoint--desctop) {
    padding: 0;
  }
}


.page-footer__logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  border-bottom: 1px solid $sg--gray_na1;
  padding-top: 2px;

  @media screen and (min-width: $gl--breakpoint--tablet) {
    padding-top: 0;
    justify-content: flex-start;
    width: 236px;
    height: 24px;
    border: none;
  }

  @media screen and (min-width: $gl--breakpoint--desctop) {
    padding-bottom: 4px;
  }

  & .page-header__logo-svg {
    padding-top: 6px;
  }
}


.page-footer__social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 132px;
  height: 60px;
  padding: 0;
  padding-right: 4px;
  padding-top: 4px;
  margin: 0 auto;

  @media screen and (min-width: $gl--breakpoint--tablet) {
    height: 33px;
    margin: 0;
    width: 132px;
    padding-top: 4px;
    padding-right: 8px;
  }

  @media screen and (min-width: $gl--breakpoint--desctop) {
    padding-top: 0;
  }
}

.page-footer__social-item {
  list-style: none;
}

.page-footer__social-link {
  color: $sg--special_grey_2;
  fill: currentColor;

  &:hover {
    color: $sg--basic_green;
  }

  &:active {
    color: $sg--basic_green;
    opacity: 0.3;
  }

  &--vk .page-footer__social-svg {
    @media screen and (min-width: $gl--breakpoint--tablet) {
      width: 30px;
      height: 22px;
    }
  }

  &--instagram .page-footer__social-svg {
    @media screen and (min-width: $gl--breakpoint--tablet) {
      width: 23px;
      height: 23px;
      padding-top: 4px;
      padding-left: 12px;
    }
  }

  &--facebook .page-footer__social-svg {
    @media screen and (min-width: $gl--breakpoint--tablet) {
      width: 33px;
      height: 33px;
      padding-top: 4px;
      padding-left: 2px;
    }
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 77px;
  border-top: 1px solid $sg--gray_na1;
  box-sizing: border-box;
  padding-top: 2px;

  @include set-font("Arial", 16px, 16px);
  font-weight: 400;
  color: $sg--special_dark_grey;

  @media screen and (min-width: $gl--breakpoint--tablet) {
    width: 236px;
    height: 34px;
    justify-content: flex-end;
    padding: 0;
    padding-top: 6px;
    border: none;
  }
}

.page-footer__copyright-text {
  margin-right: 22px;
  padding-bottom: 4px;
}

.page-footer__copyright-svg {
  color: $sg--special_grey_2;
  fill: currentColor;
}

.page-footer__copyright-link {
  text-decoration: none;
  color: $sg--special_grey_2;

  &:visited {
    color: $sg--special_grey_2;
  }
}

.page-footer__copyright:hover {
  & .page-footer__copyright-svg {
    color: $sg--basic_green;
  }
}

.page-footer__copyright:active {
  & .page-footer__copyright-text {
    opacity: 0.3;
  }

  & .page-footer__copyright-svg {
    color: $sg--basic_green;
    opacity: 0.3;
  }
}
