.page-header__wrapper {
  margin: 0;

  @media screen and (min-width: $gl--breakpoint--tablet) {
    height: 52px;
    padding: 25px $gl--padding-side--tablet 0;
    margin: 0 0 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  @media screen and (min-width: $gl--breakpoint--desctop) {
    padding: 37px $gl--padding-side--desctop 0;

    &--index {
      height: 30px;
      padding-top: 35px;
      margin: 0 0 124px;
    }

    &--form {
      height: 59px;
      margin: 0 0 73px;
    }

    &--catalog {
      height: 59px;
      margin: 0 0 73px;
    }
  }
}

.page-header__logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 10;

  margin: 0;
  box-sizing: border-box;
  padding: 0 $gl--padding-side--mobile;
  height: 67px;

  border-bottom: 1px solid $line-border-light;

  @media screen and (min-width: $gl--breakpoint--tablet) {
    height: 52px;
    border: none;
    padding: 0;
    padding-bottom: 4px;
    justify-content: flex-start;
    width: 180px;
  }

  @media screen and (min-width: $gl--breakpoint--desctop) {
    height: 59px;
    width: 210px;
  }
}

.page-header__logo-svg {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__logo-icon {
  &--mobile {
    display: inline-block;
  }

  &--tablet {
    display: none;
    padding-bottom: 0;
  }

  &--desctop {
    display: none;
  }

  @media screen and (min-width: $gl--breakpoint--tablet) {
    width: 61px;
    height: 50px;
    margin-right: 12px;

    &--mobile {
      display: none;
    }

    &--tablet {
      display: inline-block;
    }

    &--desctop {
      display: none;
    }
  }

  @media screen and (min-width: $gl--breakpoint--desctop) {
    width: 71px;
    height: 59px;
    margin-right: 14px;

    &--mobile {
      display: none;
    }

    &--tablet {
      display: none;
    }

    &--desctop {
      display: inline-block;
    }
  }
}

.page-header__logo-text {
  padding-right: 10px;
  padding-top: 4px;

  @media screen and (min-width: $gl--breakpoint--tablet) {
    padding-right: 0;
    padding-top: 2px;
    width: 102px;
    height: 19px;
    margin-right: 14px;
  }

  @media screen and (min-width: $gl--breakpoint--desctop) {
    width: 118px;
    height: 22px;
    margin-right: 14px;
    padding-top: 12px;
  }
}

.page-header__main-nav-toggle {
  @media screen and (min-width: $gl--breakpoint--tablet) {
    display: none;
  }

  @media screen and (min-width: $gl--breakpoint--desctop) {
    // empty
  }
}

.page-header__main-nav-list {
  z-index: 10;
}

.page-header__top-banner {
  & .top-banner__action {
    @media screen and (min-width: $gl--breakpoint--tablet) {
      padding: 0;
      width: 244px;
      height: 54px;
    }

    @media screen and (min-width: $gl--breakpoint--desctop) {
      //empty
    }
  }

  & .stylized-button {
    @include set-font("Oswald", 14px, 18px, uppercase);

    @media screen and (min-width: $gl--breakpoint--tablet) {
      height: 54px;

      @include set-font("Oswald", 20px, 20px, uppercase);
    }

    @media screen and (min-width: $gl--breakpoint--desctop) {
      //empty
    }
  }
}
